# Encontro 15
## Teste de hipóteses para comparação de duas médias populacionais

**Preparo Prévio:**
1.	Leitura prévia necessária: Magalhães e Lima (7ª. Edição): Comparação de duas médias populacionais (Seção 9.1 e 9.2).

**Hoje:**
1.	Teste de hipóteses para duas médias populacionais
2.	Uso da base de dados da PNAD (mesma do Projeto 1)
3.	Fechamento do conteúdo.

In [62]:
%matplotlib inline
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import numpy.random as rnd
from scipy.stats import ttest_ind

print("Esperamos trabalhar no diretório")
print(os.getcwd())

Esperamos trabalhar no diretório
/Users/mirwox/Dropbox/Insper/2015/Courses/DataScience_pvt/aulas/15

In [63]:
dados = pd.read_csv('pes2013P1.csv.gz', sep=',')

In [64]:
dados.head()

,Unnamed: 0,UF,V0302,V8005,V0402,V0404,V9001,V9005,V9029,V9032,V9042,V9611,V4803,V4707,V4745,V4718
0,1,11,4,42,1,2,3,NaN,NaN,NaN,NaN,NaN,6,NaN,2,NaN
1,2,11,4,64,1,8,3,NaN,NaN,NaN,NaN,NaN,1,NaN,1,NaN
2,3,11,4,13,4,4,3,NaN,NaN,NaN,NaN,NaN,6,NaN,2,NaN
3,4,11,2,23,1,8,1,1,1,2,2,0,1,3,1,800
4,5,11,4,19,4,8,3,NaN,NaN,NaN,NaN,NaN,12,NaN,5,NaN

In [65]:
dados.shape

(362555, 16)

___
Para estabelecer um pouco de homogeneidade, considere apenas os indivíduos que:

1. trabalhavam habitualmente entre 40 a 44 horas semanais (V4707==3),
2. entre 10 e 20 anos no trabalho principal (V9611>=10 e V9611<=20),
3. trabalhavam na semana de referência (V9001==1),
4. com apenas um emprego (V9005==1), 
5. carteira assinada (V9032==2), 
6. no setor Privado (V9032==4),
7. com ocupação de “empregado” no trabalho principal (V9029==1), 
8. considerado ser a “pessoa de referência” da família (V0402==1), 
9. com renda do trabalho principal declarada (V4718<9999999999), e 
10. com ensino superior completo (V4745==7).

In [66]:
b = dados[(dados.V4707==3) & (dados.V9611>=10) & (dados.V9611<=20) & (dados.V9001==1) & (dados.V9005==1) & (dados.V0402==1) & (dados.V9042==2) & (dados.V9032==4) & (dados.V9029==1) & (dados.V4718<9999999999) & (dados.V4745==7)]

In [67]:
b = b.copy()
# Vamos fazer o índice recomeçar em 1 porque isso facilita a troca de dados com o numpy
b.index = pd.Series(range(len(b)))
b.shape

(94, 16)

In [68]:
b

,Unnamed: 0,UF,V0302,V8005,V0402,V0404,V9001,V9005,V9029,V9032,V9042,V9611,V4803,V4707,V4745,V4718
0,8000,12,2,43,1,8,1,1,1,4,2,20,16,3,7,1440
1,8770,12,2,35,1,2,1,1,1,4,2,18,16,3,7,2000
2,18354,13,2,51,1,4,1,1,1,4,2,11,16,3,7,10000
3,53925,17,2,33,1,8,1,1,1,4,2,12,16,3,7,3500
4,66355,21,2,30,1,4,1,1,1,4,2,13,16,3,7,2900
5,70243,22,2,37,1,8,1,1,1,4,2,11,16,3,7,2000
6,85049,23,4,48,1,2,1,1,1,4,2,15,16,3,7,1400
7,85790,23,4,36,1,2,1,1,1,4,2,13,15,3,7,715
8,101346,25,2,52,1,2,1,1,1,4,2,15,16,3,7,6000
9,101392,25,2,60,1,8,1,1,1,4,2,20,16,3,7,5000
10,106420,26,4,55,1,8,1,1,1,4,2,10,16,3,7,1100
11,113446,26,4,42,1,8,1,1,1,4,2,15,16,3,7,1000
12,120155,26,4,42,1,4,1,1,1,4,2,10,16,3,7,12000
13,129339,27,4,66,1,2,1,1,1,4,2,20,16,3,7,3800
14,130899,28,2,53,1,2,1,1,1,4,2,20,16,3,7,3300
15,131770,28,2,41,1,8,1,1,1,4,2,20,16,3,7,7320
16,140409,29,4,40,1,4,1,1,1,4,2,15,16,3,7,2450
17,141009,29,4,46,1,8,1,1,1,4,2,15,16,3,7,1500
18,141940,29,4,37,1,4,1,1,1,4,2,11,16,3,7,4000
19,157171,29,4,46,1,8,1,1,1,4,2,13,14,3,7,1400
20,160189,29,4,46,1,2,1,1,1,4,2,10,16,3,7,5000
21,164827,31,4,41,1,2,1,1,1,4,2,19,16,3,7,678
22,165785,31,2,38,1,2,1,1,1,4,2,20,16,3,7,7000
23,165983,31,2,36,1,2,1,1,1,4,2,13,16,3,7,7500
24,166623,31,4,35,1,8,1,1,1,4,2,12,16,3,7,4000
25,166656,31,2,35,1,8,1,1,1,4,2,14,16,3,7,2035
26,168157,31,4,42,1,2,1,1,1,4,2,15,16,3,7,5000
27,174568,31,2,31,1,2,1,1,1,4,2,11,16,3,7,5500
28,176479,31,2,37,1,4,1,1,1,4,2,15,16,3,7,4300
29,196699,31,4,33,1,2,1,1,1,4,2,10,16,3,7,7000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64,312564,43,2,42,1,2,1,1,1,4,2,20,16,3,7,3000
65,312994,43,4,52,1,2,1,1,1,4,2,16,16,3,7,2500
66,313868,43,2,44,1,2,1,1,1,4,2,15,16,3,7,2500
67,314084,43,4,42,1,2,1,1,1,4,2,17,14,3,7,1600
68,314920,43,4,43,1,2,1,1,1,4,2,15,16,3,7,3000
69,315296,43,4,35,1,2,1,1,1,4,2,14,16,3,7,4000
70,319471,43,4,50,1,2,1,1,1,4,2,13,16,3,7,4800
71,321014,43,4,42,1,2,1,1,1,4,2,16,16,3,7,679
72,324517,43,2,28,1,8,1,1,1,4,2,10,16,3,7,4000
73,324688,43,2,42,1,2,1,1,1,4,2,16,16,3,7,1800
74,324741,43,4,43,1,2,1,1,1,4,2,17,16,3,7,2300
75,328459,50,2,38,1,8,1,1,1,4,2,16,15,3,7,3400
76,339383,52,2,40,1,2,1,1,1,4,2,10,16,3,7,10000
77,344006,52,2,44,1,2,1,1,1,4,2,20,16,3,7,6000
78,346047,52,4,32,1,8,1,1,1,4,2,11,16,3,7,1400
79,353328,53,2,41,1,2,1,1,1,4,2,12,16,3,7,14000
80,353347,53,2,49,1,2,1,1,1,4,2,10,16,3,7,5000
81,353357,53,2,53,1,2,1,1,1,4,2,10,16,3,7,7000
82,353617,53,2,34,1,8,1,1,1,4,2,13,15,3,7,11500
83,353736,53,4,43,1,8,1,1,1,4,2,10,16,3,7,5000
84,353794,53,4,35,1,8,1,1,1,4,2,11,16,3,7,10000
85,353872,53,2,46,1,2,1,1,1,4,2,17,16,3,7,21000
86,354574,53,4,49,1,2,1,1,1,4,2,16,16,3,7,6000
87,354744,53,4,49,1,8,1,1,1,4,2,16,15,3,7,5500
88,354812,53,2,61,1,8,1,1,1,4,2,18,16,3,7,7500
89,355562,53,4,55,1,2,1,1,1,4,2,12,16,3,7,6000
90,356092,53,2,46,1,8,1,1,1,4,2,10,16,3,7,9000
91,356240,53,4,33,1,2,1,1,1,4,2,12,16,3,7,1600
92,360357,53,4,42,1,2,1,1,1,4,2,14,16,3,7,8500
93,361459,53,2,47,1,2,1,1,1,4,2,17,15,3,7,5000

In [69]:
b.V4718.describe()

count       94.000000
mean      4635.659574
std       3865.544195
min        678.000000
25%       1985.000000
50%       3350.000000
75%       6000.000000
max      21000.000000
Name: V4718, dtype: float64

In [70]:
#Gênero
#b.V0302 == 2 ==> 'Masculino'
#b.V0302 == 4 ==> 'Feminino'
b.V0302.value_counts()

2    48
4    46
dtype: int64

In [71]:
salA = np.array(b.V4718[b.V0302==2])
nA = len(salA)
xbarra_A = np.mean(salA)
desvpad_A = np.std(salA,ddof=1)
print(nA)
print(xbarra_A)
print(desvpad_A)

48
5130.72916667
4095.03409561

In [72]:
salB = np.array(b.V4718[b.V0302==4])
nB = len(salB)
xbarra_B = np.mean(salB)
desvpad_B = np.std(salB,ddof=1)
print(nB)
print(xbarra_B)
print(desvpad_B)

46
4119.06521739
3582.20402299

___
## Atividade

**Verifique se há discriminação salarial por raça (Branca x Parda e Branca x Preta)**
1. Faça sem discriminar por gênero 
2. Refaça discriminando por gênero
3. Discuta os resultados! Antes dos testes inferenciais, sentiu falta de uma análise descritiva?!

In [73]:
#Raça
#b.V0404 == 2 ==> 'Branca'
#b.V0404 == 4 ==> 'Preta'
#b.V0404 == 6 ==> 'Amarela'
#b.V0404 == 8 ==> 'Parda'
#b.V0404 == 0 ==> 'Indígena'
#b.V0404 == 9 ==> 'Sem declaração'

b.V0404.value_counts()

2    57
8    24
4    13
dtype: int64

In [74]:
## Atividade - teste de permutação

In [75]:
salarios = b.V4718
salarios

0      1440
1      2000
2     10000
3      3500
4      2900
5      2000
6      1400
7       715
8      6000
9      5000
10     1100
11     1000
12    12000
13     3800
14     3300
15     7320
16     2450
17     1500
18     4000
19     1400
20     5000
21      678
22     7000
23     7500
24     4000
25     2035
26     5000
27     5500
28     4300
29     7000
      ...
64     3000
65     2500
66     2500
67     1600
68     3000
69     4000
70     4800
71      679
72     4000
73     1800
74     2300
75     3400
76    10000
77     6000
78     1400
79    14000
80     5000
81     7000
82    11500
83     5000
84    10000
85    21000
86     6000
87     5500
88     7500
89     6000
90     9000
91     1600
92     8500
93     5000
Name: V4718, dtype: float64

## Atividades

### 1. Bootstrap para diferença de médias
Calcule um intervalo de confiança de 95% para a diferença entre as médias salariais de homens e mulheres


### 2. Teste de permutação para diferença salarial
Qual a probabilidade de, caso não haja discriminação, observarmos a diferença salarial entre homens e mulheres presente na população?

Para fazer isso, assuma que não há diferença salarial.

Assumir que não há diferença salarial quer dizer que os salários são independentes de sexo, ou seja, permutamos os salários, recolocamos no *dataframe* e não esperamos que a média mude.