In [5]:
import pandas as pd

Esteja atento para que o arquivo pes2013A.txt.gz esteja no diretório de trabalho

A extensão txt.gz indica que o arquivo txt foi compactado com formato gz. 

Esta compactação tem pouco impacto sobre o tempo de leitura do arquivo, mas reduz seu tamanho em cerca de 80%.

Observe o argumento *compression="gzip"* passado à função read_table.

In [6]:
import os
print("Diretorio de trabalho: ", os.getcwd())

Diretorio de trabalho:  /Users/mirwox/Dropbox/Insper/2015/Courses/DataScience/github/data_science/aula2

In [7]:
dados = pd.read_table("pes2013A.txt.gz", sep=" ", compression="gzip")

In [8]:
dados

,V0101,UF,V0102,V0103,V0301,V0302,V8005,V0404,V4011,V0412,...,V4706,V4707,V4809,V4810,V4711,V4718,V4720,V4742,V4750,V4729
1,2013,11,15,3,1,4,42,2,5,2,...,NaN,NaN,NaN,NaN,NaN,NaN,350,350,350,244
2,2013,11,15,4,1,4,64,8,7,2,...,NaN,NaN,NaN,NaN,NaN,NaN,678,339,339,243
3,2013,11,15,4,2,4,13,4,0,2,...,NaN,NaN,NaN,NaN,NaN,NaN,0,339,339,243
4,2013,11,15,5,1,2,23,8,0,2,...,1,3,5,5,1,800,800,266,266,243
5,2013,11,15,5,2,4,19,8,0,2,...,NaN,NaN,NaN,NaN,NaN,NaN,0,266,266,243
6,2013,11,15,5,3,4,17,8,0,2,...,NaN,NaN,NaN,NaN,NaN,NaN,0,266,266,243
7,2013,11,15,6,1,2,59,4,NaN,2,...,9,3,4,8,2,800,800,400,400,244
8,2013,11,15,6,2,4,56,2,NaN,2,...,NaN,NaN,NaN,NaN,NaN,NaN,0,400,400,244
9,2013,11,15,7,1,2,25,8,1,2,...,1,3,5,6,1,1100,1100,411,411,244
10,2013,11,15,7,2,4,23,2,1,2,...,NaN,NaN,NaN,NaN,NaN,NaN,134,411,411,243
11,2013,11,15,7,3,4,5,2,NaN,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,411,411,244
12,2013,11,15,8,1,2,37,2,NaN,2,...,3,3,8,1,1,4000,4000,1333,1333,243
13,2013,11,15,8,2,4,25,2,NaN,2,...,NaN,NaN,NaN,NaN,NaN,NaN,0,1333,1333,244
14,2013,11,15,8,3,2,4,2,NaN,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1333,1333,243
15,2013,11,15,9,1,4,50,2,5,2,...,3,3,8,3,1,3500,3500,1750,1750,243
16,2013,11,15,9,2,4,23,2,0,2,...,NaN,NaN,NaN,NaN,NaN,NaN,0,1750,1750,243
17,2013,11,15,10,1,2,28,2,5,2,...,1,3,5,8,1,1300,1300,1300,1300,244
18,2013,11,15,11,1,2,41,2,1,4,...,1,3,3,8,1,1400,1400,280,280,244
19,2013,11,15,11,2,4,34,2,1,2,...,NaN,NaN,NaN,NaN,NaN,NaN,0,280,280,244
20,2013,11,15,11,3,2,17,2,0,4,...,NaN,NaN,NaN,NaN,NaN,NaN,0,280,280,243
21,2013,11,15,11,4,2,15,2,0,2,...,NaN,NaN,NaN,NaN,NaN,NaN,0,280,280,244
22,2013,11,15,11,5,2,1,2,NaN,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,280,280,243
23,2013,11,15,12,1,2,51,8,1,2,...,9,4,5,8,2,1000,1000,333,333,244
24,2013,11,15,12,2,4,44,4,1,2,...,NaN,NaN,NaN,NaN,NaN,NaN,0,333,333,244
25,2013,11,15,12,3,2,8,4,NaN,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,333,333,244
26,2013,11,15,13,1,2,36,2,3,2,...,1,3,12,5,1,1100,1100,1100,1100,243
27,2013,11,15,15,1,2,49,2,5,2,...,9,3,4,8,2,1300,1300,650,650,244
28,2013,11,15,15,2,2,9,8,NaN,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,650,650,243
29,2013,11,15,16,1,4,25,2,0,2,...,6,3,10,5,1,678,678,678,678,243
30,2013,11,23,1,1,2,57,8,0,2,...,9,5,6,1,2,3000,3000,3000,3000,243
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
362526,2013,53,2148,5,5,2,10,4,0,4,...,NaN,NaN,NaN,NaN,NaN,NaN,0,600,600,299
362527,2013,53,2148,8,1,4,33,2,NaN,2,...,7,2,10,5,2,800,800,356,356,299
362528,2013,53,2148,8,2,2,43,2,NaN,4,...,1,2,12,5,1,980,980,356,356,299
362529,2013,53,2148,8,3,2,12,2,0,4,...,NaN,NaN,NaN,NaN,NaN,NaN,0,356,356,299
362530,2013,53,2148,8,4,4,9,2,NaN,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,356,356,299
362531,2013,53,2148,8,5,2,7,2,NaN,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,356,356,299
362532,2013,53,2148,9,1,2,42,8,0,4,...,1,5,12,5,1,2000,3100,974,974,299
362533,2013,53,2148,9,2,4,38,8,0,4,...,6,3,10,5,1,900,970,974,974,299
362534,2013,53,2148,9,3,2,18,8,0,4,...,1,3,11,3,1,800,800,974,974,299
362535,2013,53,2148,9,4,4,15,8,0,4,...,NaN,NaN,NaN,NaN,NaN,NaN,0,974,974,299
362536,2013,53,2148,9,5,4,14,8,0,2,...,NaN,NaN,NaN,NaN,NaN,NaN,0,974,974,299
362537,2013,53,2148,10,1,4,18,8,NaN,2,...,NaN,NaN,NaN,NaN,NaN,NaN,0,750,400,299
362538,2013,53,2148,10,2,2,23,8,NaN,4,...,1,3,12,8,1,800,800,750,400,299
362539,2013,53,2148,10,3,2,50,2,NaN,4,...,1,3,12,8,1,1200,1200,750,1050,299
362540,2013,53,2148,10,4,4,39,2,NaN,4,...,1,3,9,5,1,900,900,750,1050,300
362541,2013,53,2148,10,5,2,21,2,0,4,...,1,5,12,8,1,1600,1600,750,800,299
362542,2013,53,2148,10,6,4,22,8,0,2,...,NaN,NaN,NaN,NaN,NaN,NaN,0,750,800,299
362543,2013,53,2148,11,1,4,35,2,0,2,...,NaN,NaN,NaN,NaN,NaN,NaN,550,516,516,300
362544,2013,53,2148,11,2,2,49,2,5,4,...,1,3,7,8,1,1000,1000,516,516,299
362545,2013,53,2148,11,3,4,13,2,0,4,...,NaN,NaN,NaN,NaN,NaN,NaN,0,516,516,299
362546,2013,53,2148,13,1,2,54,2,NaN,2,...,9,3,4,8,2,2000,2000,800,800,299
362547,2013,53,2148,13,2,4,48,8,NaN,4,...,9,1,3,8,2,400,400,800,800,299
362548,2013,53,2148,13,3,2,5,8,NaN,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,800,800,299
362549,2013,53,2148,14,1,2,17,4,0,2,...,7,2,10,5,2,100,100,100,100,299
362550,2013,53,2148,15,1,4,30,2,0,2,...,NaN,NaN,NaN,NaN,NaN,NaN,0,387,387,299
362551,2013,53,2148,15,2,2,33,4,0,4,...,1,3,4,8,1,1200,1550,387,387,300
362552,2013,53,2148,15,3,2,11,2,0,4,...,NaN,NaN,NaN,NaN,NaN,NaN,0,387,387,299
362553,2013,53,2148,15,4,2,2,8,NaN,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,387,387,299
362554,2013,53,2148,16,1,4,32,8,0,2,...,1,3,6,5,1,700,800,400,400,299
362555,2013,53,2148,16,2,4,6,8,NaN,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,400,400,299

A coluna V8005, conforme o dicionário de dados, trata-se da idade.

In [9]:
max(dados.V8005)

109

In [10]:
dados.columns

Index(['V0101', 'UF', 'V0102', 'V0103', 'V0301', 'V0302', 'V8005', 'V0404', 'V4011', 'V0412', 'V0501', 'V0502', 'V5030', 'V0504', 'V0505', 'V5061', 'V5062', 'V5063', 'V5064', 'V5065', 'V0601', 'V0602', 'V6002', 'V6020', 'V6003', 'V0606', 'V6007', 'V0611', 'V06111', 'V061111', 'V061112', 'V061113', 'V061114', 'V06112', 'V9001', 'V9906', 'V9907', 'V9029', 'V9030', 'V9031', 'V9032', 'V9042', 'V9043', 'V9044', 'V9045', 'V9046', 'V9047', 'V9048', 'V1091', 'V1092', 'V1101', 'V1141', 'V1142', 'V1151', 'V1152', 'V1153', 'V1154', 'V4801', 'V4802', 'V4803', 'V4704', 'V4805', 'V4706', 'V4707', 'V4809', 'V4810', 'V4711', 'V4718', 'V4720', 'V4742', 'V4750', 'V4729'], dtype='object')

In [13]:
dados.V8005

1     42
2     64
3     13
4     23
5     19
6     17
7     59
8     56
9     25
10    23
11     5
12    37
13    25
14     4
15    50
...
362541    21
362542    22
362543    35
362544    49
362545    13
362546    54
362547    48
362548     5
362549    17
362550    30
362551    33
362552    11
362553     2
362554    32
362555     6
Name: V8005, Length: 362555, dtype: int64

In [14]:
dir(dados.V8005)

['T',
 '_AXIS_ALIASES',
 '_AXIS_IALIASES',
 '_AXIS_LEN',
 '_AXIS_NAMES',
 '_AXIS_NUMBERS',
 '_AXIS_ORDERS',
 '_AXIS_REVERSED',
 '_AXIS_SLICEMAP',
 '__abs__',
 '__add__',
 '__and__',
 '__array__',
 '__array_prepare__',
 '__array_priority__',
 '__array_wrap__',
 '__bool__',
 '__bytes__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dict__',
 '__dir__',
 '__div__',
 '__doc__',
 '__eq__',
 '__finalize__',
 '__float__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__int__',
 '__invert__',
 '__ipow__',
 '__isub__',
 '__iter__',
 '__itruediv__',
 '__le__',
 '__len__',
 '__long__',
 '__lt__',
 '__mod__',
 '__module__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__nonzero__',
 '__or__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdiv__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__setitem__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__unicode__',
 '__weakref__',
 '__xor__',
 '_add_numeric_operations',
 '_agg_by_level',
 '_align_frame',
 '_align_series',
 '_allow_index_ops',
 '_at',
 '_binop',
 '_box_item_values',
 '_can_hold_na',
 '_check_inplace_setting',
 '_check_is_chained_assignment_possible',
 '_check_setitem_copy',
 '_clear_item_cache',
 '_consolidate_inplace',
 '_construct_axes_dict',
 '_construct_axes_dict_for_slice',
 '_construct_axes_dict_from',
 '_construct_axes_from_arguments',
 '_constructor',
 '_constructor_sliced',
 '_create_indexer',
 '_expand_axes',
 '_from_axes',
 '_get_axis',
 '_get_axis_name',
 '_get_axis_number',
 '_get_axis_resolvers',
 '_get_block_manager_axis',
 '_get_bool_data',
 '_get_cacher',
 '_get_index_resolvers',
 '_get_item_cache',
 '_get_numeric_data',
 '_get_repr',
 '_get_val_at',
 '_get_values',
 '_get_values_tuple',
 '_get_with',
 '_iat',
 '_iget_item_cache',
 '_iloc',
 '_index',
 '_indexed_same',
 '_info_axis',
 '_info_axis_name',
 '_info_axis_number',
 '_init_mgr',
 '_internal_names',
 '_internal_names_set',
 '_is_cached',
 '_is_datelike_mixed_type',
 '_is_mixed_type',
 '_is_numeric_mixed_type',
 '_is_view',
 '_ix',
 '_ixs',
 '_loc',
 '_local_dir',
 '_maybe_box',
 '_maybe_cache_changed',
 '_maybe_update_cacher',
 '_metadata',
 '_needs_reindex_multi',
 '_protect_consolidate',
 '_reduce',
 '_reindex_axes',
 '_reindex_axis',
 '_reindex_indexer',
 '_reindex_multi',
 '_reindex_with_indexers',
 '_repr_footer',
 '_reset_cache',
 '_set_as_cached',
 '_set_axis',
 '_set_is_copy',
 '_set_item',
 '_set_labels',
 '_set_subtyp',
 '_set_values',
 '_set_with',
 '_set_with_engine',
 '_setup_axes',
 '_slice',
 '_stat_axis',
 '_stat_axis_name',
 '_stat_axis_number',
 '_tidy_repr',
 '_typ',
 '_unpickle_series_compat',
 '_update_inplace',
 '_validate_dtype',
 '_xs',
 'abs',
 'add',
 'add_prefix',
 'add_suffix',
 'align',
 'all',
 'any',
 'append',
 'apply',
 'argmax',
 'argmin',
 'argsort',
 'as_blocks',
 'as_matrix',
 'asfreq',
 'asof',
 'astype',
 'at',
 'at_time',
 'autocorr',
 'axes',
 'base',
 'between',
 'between_time',
 'bfill',
 'blocks',
 'bool',
 'cat',
 'clip',
 'clip_lower',
 'clip_upper',
 'combine',
 'combine_first',
 'compound',
 'compress',
 'consolidate',
 'convert_objects',
 'copy',
 'corr',
 'count',
 'cov',
 'cummax',
 'cummin',
 'cumprod',
 'cumsum',
 'data',
 'describe',
 'diff',
 'div',
 'divide',
 'dot',
 'drop',
 'drop_duplicates',
 'dropna',
 'dt',
 'dtype',
 'dtypes',
 'duplicated',
 'empty',
 'eq',
 'equals',
 'factorize',
 'ffill',
 'fillna',
 'filter',
 'first',
 'first_valid_index',
 'flags',
 'floordiv',
 'from_array',
 'from_csv',
 'ftype',
 'ftypes',
 'ge',
 'get',
 'get_dtype_counts',
 'get_ftype_counts',
 'get_value',
 'get_values',
 'groupby',
 'gt',
 'hasnans',
 'head',
 'hist',
 'iat',
 'idxmax',
 'idxmin',
 'iget',
 'iget_value',
 'iloc',
 'imag',
 'index',
 'interpolate',
 'irow',
 'is_copy',
 'is_time_series',
 'isin',
 'isnull',
 'item',
 'items',
 'itemsize',
 'iteritems',
 'iterkv',
 'ix',
 'keys',
 'kurt',
 'kurtosis',
 'last',
 'last_valid_index',
 'le',
 'load',
 'loc',
 'lt',
 'mad',
 'map',
 'mask',
 'max',
 'mean',
 'median',
 'min',
 'mod',
 'mode',
 'mul',
 'multiply',
 'nbytes',
 'ndim',
 'ne',
 'nlargest',
 'nonzero',
 'notnull',
 'nsmallest',
 'nunique',
 'order',
 'pct_change',
 'plot',
 'pop',
 'pow',
 'prod',
 'product',
 'ptp',
 'put',
 'quantile',
 'radd',
 'rank',
 'ravel',
 'rdiv',
 'real',
 'reindex',
 'reindex_axis',
 'reindex_like',
 'rename',
 'rename_axis',
 'reorder_levels',
 'repeat',
 'replace',
 'resample',
 'reset_index',
 'reshape',
 'rfloordiv',
 'rmod',
 'rmul',
 'round',
 'rpow',
 'rsub',
 'rtruediv',
 'save',
 'searchsorted',
 'select',
 'sem',
 'set_axis',
 'set_value',
 'shape',
 'shift',
 'size',
 'skew',
 'slice_shift',
 'sort',
 'sort_index',
 'sortlevel',
 'squeeze',
 'std',
 'str',
 'strides',
 'sub',
 'subtract',
 'sum',
 'swapaxes',
 'swaplevel',
 'tail',
 'take',
 'to_clipboard',
 'to_csv',
 'to_dense',
 'to_dict',
 'to_frame',
 'to_hdf',
 'to_json',
 'to_msgpack',
 'to_period',
 'to_pickle',
 'to_sparse',
 'to_sql',
 'to_string',
 'to_timestamp',
 'tolist',
 'transpose',
 'truediv',
 'truncate',
 'tshift',
 'tz_convert',
 'tz_localize',
 'unique',
 'unstack',
 'update',
 'valid',
 'value_counts',
 'values',
 'var',
 'view',
 'where',
 'xs']

A função _rename()_ aceita um dicionário com os nomes novos e antigos das células.

In [22]:
dados.rename(columns={"V8005":"IDADE"}, inplace=True)

In [23]:
dados.IDADE.describe()

count    362555.000000
mean         33.049813
std          20.870874
min           0.000000
25%          16.000000
50%          31.000000
75%          48.000000
max         109.000000
Name: IDADE, dtype: float64

In [29]:
dados[(dados.IDADE >= 18)  & (dados.IDADE < 35)]

,V0101,UF,V0102,V0103,V0301,V0302,IDADE,V0404,V4011,V0412,...,V4706,V4707,V4809,V4810,V4711,V4718,V4720,V4742,V4750,V4729
4,2013,11,15,5,1,2,23,8,0,2,...,1,3,5,5,1,8.000000e+02,8.000000e+02,2.660000e+02,2.660000e+02,243
5,2013,11,15,5,2,4,19,8,0,2,...,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00,2.660000e+02,2.660000e+02,243
9,2013,11,15,7,1,2,25,8,1,2,...,1,3,5,6,1,1.100000e+03,1.100000e+03,4.110000e+02,4.110000e+02,244
10,2013,11,15,7,2,4,23,2,1,2,...,NaN,NaN,NaN,NaN,NaN,NaN,1.340000e+02,4.110000e+02,4.110000e+02,243
13,2013,11,15,8,2,4,25,2,NaN,2,...,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00,1.333000e+03,1.333000e+03,244
16,2013,11,15,9,2,4,23,2,0,2,...,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00,1.750000e+03,1.750000e+03,243
17,2013,11,15,10,1,2,28,2,5,2,...,1,3,5,8,1,1.300000e+03,1.300000e+03,1.300000e+03,1.300000e+03,244
19,2013,11,15,11,2,4,34,2,1,2,...,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00,2.800000e+02,2.800000e+02,244
29,2013,11,15,16,1,4,25,2,0,2,...,6,3,10,5,1,6.780000e+02,6.780000e+02,6.780000e+02,6.780000e+02,243
31,2013,11,23,2,1,4,27,2,0,2,...,3,3,9,2,1,3.000000e+03,3.000000e+03,1.250000e+03,1.250000e+03,243
32,2013,11,23,2,2,2,30,2,0,4,...,9,3,5,8,2,2.000000e+03,2.000000e+03,1.250000e+03,1.250000e+03,243
41,2013,11,23,6,2,4,33,2,0,4,...,1,2,12,4,1,2.300000e+03,2.300000e+03,1.489000e+03,1.489000e+03,243
43,2013,11,23,9,1,4,30,8,0,2,...,3,2,8,5,1,2.410000e+03,2.410000e+03,2.410000e+03,2.410000e+03,244
46,2013,11,23,10,3,4,31,8,1,4,...,3,3,8,4,1,1.000000e+03,1.000000e+03,6.580000e+02,3.330000e+02,243
49,2013,11,23,10,6,4,28,8,7,4,...,3,3,8,4,1,1.356000e+03,1.356000e+03,6.580000e+02,6.780000e+02,244
52,2013,11,23,11,2,2,27,2,0,4,...,1,3,12,4,1,6.780000e+02,6.780000e+02,2.710000e+02,2.710000e+02,244
53,2013,11,23,11,3,2,25,2,0,2,...,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00,2.710000e+02,2.710000e+02,243
54,2013,11,23,11,4,2,20,2,0,4,...,1,3,12,4,1,6.780000e+02,6.780000e+02,2.710000e+02,2.710000e+02,243
58,2013,11,23,13,3,2,32,8,0,2,...,3,3,8,1,1,1.700000e+03,1.700000e+03,9.600000e+02,9.600000e+02,243
59,2013,11,23,13,4,4,30,2,0,4,...,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00,9.600000e+02,9.600000e+02,243
63,2013,11,23,14,3,2,25,2,0,4,...,1,2,4,8,1,1.200000e+03,1.200000e+03,8.000000e+02,8.000000e+02,243
64,2013,11,23,14,4,2,21,2,0,4,...,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00,8.000000e+02,8.000000e+02,243
72,2013,11,23,17,1,2,26,4,0,2,...,4,5,5,6,1,2.000000e+03,2.000000e+03,2.000000e+03,2.000000e+03,243
77,2013,11,31,1,5,4,29,2,5,2,...,9,2,11,5,2,4.000000e+02,4.000000e+02,3.720000e+02,1.330000e+02,243
82,2013,11,31,2,3,2,22,2,0,2,...,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00,2.000000e+03,2.000000e+03,244
86,2013,11,31,4,3,2,19,8,0,4,...,1,4,5,6,1,6.000000e+02,6.000000e+02,8.620000e+02,8.620000e+02,243
97,2013,11,31,9,2,2,22,8,0,4,...,4,4,5,8,2,6.780000e+02,6.780000e+02,3.390000e+02,3.390000e+02,244
99,2013,11,31,10,1,4,33,8,0,2,...,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00,2.120000e+02,2.120000e+02,244
101,2013,11,31,10,3,2,19,8,0,2,...,9,3,4,8,2,6.000000e+02,6.000000e+02,2.120000e+02,2.120000e+02,243
102,2013,11,31,10,4,4,29,8,0,4,...,NaN,NaN,NaN,NaN,NaN,NaN,1.760000e+02,2.120000e+02,2.120000e+02,243
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
362426,2013,53,2113,13,2,2,19,8,0,4,...,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00,1.920000e+02,1.920000e+02,299
362431,2013,53,2113,14,1,4,31,8,0,2,...,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00,0.000000e+00,0.000000e+00,299
362435,2013,53,2113,16,2,2,31,8,0,6,...,6,4,10,5,1,1.000000e+03,1.000000e+03,1.550000e+03,1.550000e+03,300
362436,2013,53,2121,1,1,2,24,2,0,2,...,1,3,12,5,1,8.500000e+02,8.500000e+02,7.640000e+02,7.640000e+02,299
362440,2013,53,2121,2,3,4,18,8,0,2,...,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00,7.500000e+02,7.500000e+02,299
362446,2013,53,2121,4,1,4,24,8,0,2,...,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00,0.000000e+00,0.000000e+00,300
362453,2013,53,2121,8,1,4,34,8,NaN,2,...,7,2,10,5,2,1.000000e+03,1.000000e+03,6.400000e+02,6.400000e+02,299
362459,2013,53,2121,10,1,4,27,8,0,2,...,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00,0.000000e+00,0.000000e+00,299
362461,2013,53,2121,10,3,4,27,8,0,4,...,1,3,12,5,1,1.200000e+03,1.200000e+03,NaN,NaN,300
362462,2013,53,2121,12,1,2,30,2,1,2,...,9,5,5,6,2,6.000000e+03,6.000000e+03,1.000000e+12,1.000000e+12,299
362466,2013,53,2121,12,5,2,32,2,0,4,...,9,5,5,6,2,1.000000e+12,1.000000e+12,1.000000e+12,1.000000e+12,299
362467,2013,53,2121,12,6,2,30,4,0,4,...,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00,1.000000e+12,1.000000e+12,299
362468,2013,53,2121,14,1,2,22,8,0,2,...,1,3,5,6,1,8.000000e+02,8.000000e+02,8.000000e+02,8.000000e+02,299
362470,2013,53,2121,16,2,4,20,2,0,2,...,4,2,12,4,2,5.000000e+02,5.000000e+02,3.660000e+02,3.660000e+02,299
362473,2013,53,2121,17,2,4,33,8,0,4,...,6,5,10,5,1,8.260000e+02,8.260000e+02,1.000000e+12,1.000000e+12,299
362474,2013,53,2121,17,3,2,19,8,0,4,...,4,5,6,8,2,1.000000e+12,1.000000e+12,1.000000e+12,1.000000e+12,300
362479,2013,53,2130,1,3,2,24,2,0,2,...,3,2,8,2,1,1.700000e+04,1.700000e+04,6.400000e+03,6.400000e+03,299
362498,2013,53,2130,8,1,4,34,2,NaN,2,...,9,2,5,6,2,7.000000e+03,7.000000e+03,6.250000e+03,6.250000e+03,299
362511,2013,53,2130,15,5,2,32,8,0,4,...,1,3,5,2,1,1.000000e+03,1.000000e+03,9.200000e+03,5.000000e+02,299
362513,2013,53,2148,1,1,2,23,2,0,2,...,NaN,NaN,NaN,NaN,NaN,NaN,4.000000e+02,5.380000e+02,5.380000e+02,299
362520,2013,53,2148,3,1,2,30,8,0,2,...,4,3,6,5,2,1.300000e+03,1.300000e+03,1.300000e+03,1.300000e+03,299
362527,2013,53,2148,8,1,4,33,2,NaN,2,...,7,2,10,5,2,8.000000e+02,8.000000e+02,3.560000e+02,3.560000e+02,299
362534,2013,53,2148,9,3,2,18,8,0,4,...,1,3,11,3,1,8.000000e+02,8.000000e+02,9.740000e+02,9.740000e+02,299
362537,2013,53,2148,10,1,4,18,8,NaN,2,...,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00,7.500000e+02,4.000000e+02,299
362538,2013,53,2148,10,2,2,23,8,NaN,4,...,1,3,12,8,1,8.000000e+02,8.000000e+02,7.500000e+02,4.000000e+02,299
362541,2013,53,2148,10,5,2,21,2,0,4,...,1,5,12,8,1,1.600000e+03,1.600000e+03,7.500000e+02,8.000000e+02,299
362542,2013,53,2148,10,6,4,22,8,0,2,...,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00,7.500000e+02,8.000000e+02,299
362550,2013,53,2148,15,1,4,30,2,0,2,...,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00,3.870000e+02,3.870000e+02,299
362551,2013,53,2148,15,2,2,33,4,0,4,...,1,3,4,8,1,1.200000e+03,1.550000e+03,3.870000e+02,3.870000e+02,300
362554,2013,53,2148,16,1,4,32,8,0,2,...,1,3,6,5,1,7.000000e+02,8.000000e+02,4.000000e+02,4.000000e+02,299